@import "../../app/styles/variables.scss";

.cartMenu {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: white;
  z-index: 1000;
  transition: right 0.3s ease-in-out;
  text-align: center;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

    svg {
      fill: orange;
      cursor: pointer;
    }
  }

  h2 {
    margin: 10px;
    font-weight: 500;
  }
}

.open {
  right: 0;
}

.cartItems {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  border-bottom: 1px solid orange;
  padding: 10px;
}

.cartItem img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.closeButton {
  margin-bottom: 20px;
  background-color: $mainBlue;
  border: none;
  padding: 10px 35px;
  color: #fff;
  border-radius: 21px;
  font-weight: 600;
  cursor: pointer;
}

.totalPrice {
  font-weight: 600;
}

.totalContainer {
  text-align: center;

  margin-bottom: 10px;
  margin-top: auto;
}

.checkoutButton {
  margin-bottom: 20px;
  border: 3px solid $mainBlue;
  background-color: transparent;

  padding: 10px 35px;
  color: #333;
  border-radius: 21px;
  font-weight: 600;
  cursor: pointer;
}

.cartButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.totalData {
  margin-top: auto;
}

.clearCart {
  align-self: flex-start;
  margin: 0 auto;
  border: none;
  background-color: orangered;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  border-radius: 21px;
  cursor: pointer;
  margin-bottom: 30px;
}
