@import "../../app/styles/variables.scss";

.cartMenu {
  position: fixed;
  top: 0;
  right: -400px; /* Initially off-screen */
  width: 400px;
  height: 100%;
  background-color: white;
  z-index: 1000;
  transition: right 0.3s ease-in-out;
  text-align: center;
  overflow-y: auto; /* Add overflow-y to enable scrolling if needed */

  h2 {
    margin: 10px;
    font-weight: 500;
  }
}

.open {
  right: 0; /* Slide in from the right when open */
}

.cartItems {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px; /* Add margin to create space for total and buttons */
}

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  border-bottom: 1px solid orange;
  padding: 10px;
}

.cartItem img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.closeButton {
  margin-bottom: 20px;
  background-color: $mainBlue;
  border: none;
  padding: 10px 35px;
  color: #fff;
  border-radius: 21px;
  font-weight: 600;
  cursor: pointer;
}

.totalPrice {
  font-weight: 600;
}

.totalContainer {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.checkoutButton {
  margin-bottom: 20px;
  border: 3px solid $mainBlue;
  background-color: transparent;

  padding: 10px 35px;
  color: #333;
  border-radius: 21px;
  font-weight: 600;
  cursor: pointer;
}

.cartButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
