.register-container {
  display: flex;
  justify-content: center;
  height: 70vh;
  margin-top: 100px;
}

.register-box {
  width: 400px;
  height: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-box h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.registerButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ff6700;
  color: #fff;
  cursor: pointer;
}

.registerButton:hover {
  background-color: #ff9e32;
}

.additionalLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
