.delivery {
  margin-top: 150px;
  position: relative;
  display: flex;

  &__image {
    position: relative;
    flex: 1;

    img {
      width: 100%;
      height: 700px;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    width: 400px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    h3 {
      font-size: 50px;
      color: #fff;
      font-weight: 500;
    }
    p {
      color: #fff;
    }
    button {
      align-self: flex-start;
      border: none;
      padding: 15px 30px;
      border-radius: 21px;
      font-size: 16px;
      cursor: pointer;
      background-color: #fff;
      margin-top: 10px;
      font-weight: 400;
    }
  }
}

.videoWrapper {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.videoWrapper video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 30px;
}

.startButton {
  border: none;
  color: #fff;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  font-size: 35px;
  z-index: 1000;
}

.startButtonContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;

  p {
    color: #fff;
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: 600;
  }
}

//responsive design

@media screen and (max-width: 1323px) {
  .delivery {
    &__content {
      left: 5%;
      width: 300px;
      h3 {
        font-size: 40px;
      }
      p {
        font-size: 16px;
      }
      button {
        padding: 10px 20px;
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .startButtonContainer {
    p {
      font-size: 25px;
    }
  }

  .videoWrapper {
    position: relative;
    width: 100%;
    margin: 20px;
  }
}
