.timeOffer {
  position: relative;
  display: flex;
  margin-top: 150px;
}

.timeOfferImage {
  position: relative;
  flex: 1;
}

.timeOfferImage img {
  width: 100%;
  height: auto;
}

.timeOfferContent {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  width: 400px;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__desc {
    color: #fff;
  }

  button {
    align-self: flex-start;
    border: none;
    padding: 15px 30px;
    border-radius: 21px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    margin-top: 10px;
    font-weight: 400;
  }
  h2 {
    font-size: 60px;
    font-weight: 500;
    color: #fff;

    span {
      color: #ac223a;
    }
  }
}

.timer {
  display: flex;
  gap: 15px;
  &__item {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    &__number {
      padding: 20px;
      border: 1px solid #fff;
    }
  }
}

.timer div {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .textContent {
    h2 {
      font-size: 40px;
    }
    &__desc {
      color: #fff;
      font-size: 16px;
    }
  }
  .timeOfferContent {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    max-width: 100%;
  }

  .timer {
    display: flex;
    gap: 15px;
    &__item {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 15px;
      gap: 2px;
      &__number {
        padding: 10px;
        border: 1px solid #fff;
      }
    }
  }

  .timeOfferImage img {
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .textContent {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      margin: 0 auto;
    }
  }
}
